body, html {
padding: 0px;
margin: 0px;
width: 100%;
height: 100%;
}
body {
background: silver;	
display: flex;
justify-content: center;
align-items: center;	
}
form, .result {
width: 300px;
text-align: center;
margin: 0 auto;	
height: auto;
padding: 50px;
background: #000;
}
form h1 {
color: YellowGreen;	
}
input {
width: 250px;
margin: 0 auto;
display: block;
padding: 10px;
margin: 7px;	
}
input[type="submit"]{
border: none;	
width: 270px;	
padding: 10px;
}
.result2 {
margin: 0 auto;	
height: auto;
width: 600px !important;
font-weight: bold;
white-space: pre;
white-space: pre-wrap;
white-space: pre-line;
white-space: -moz-pre-wrap !important;
white-space: -hp-pre-wrap;
white-space: -o-pre-wrap;
white-space: -pre-wrap;
word-wrap: break-word;
text-align: left;
color: YellowGreen;
padding: 30px;
background: #000;
}